<h1>Global Impact - Grupo Sigma</h1>
Modelo escolhido: KNN <br>
Justificativa: dado a natureza dos dados, o tamanho do dataset e a saída esperada, a escolha de um algoritmo de aprendizado supervizionado como o KNN se mostra pertinente.

In [23]:
#Importando bibliotecas que serão utilizadas
import math
import pandas as pd

<h3> Declarando as funções </h3>

In [24]:
def distancia_euclidiana (p1,p2):
  dimensao = len(p1)
  soma = 0
  for i in range(dimensao):
    soma += (p1[i] - p2[i])**2
  return math.sqrt(soma)
def info_dataset(amostras, info= True):
  output1 = 0
  output2 = 0
  for amostra in amostras.iloc[:, -1]:
    if amostra == 1:
      output1 += 1
    else:
      output2 += 1
  if info == True:
    print(f'Total de amostras: {len(amostras)}')
    print(f'Total normal: {output1}')
    print(f'Total alterado: {output2}')
  return [len(amostras), output1, output2]

def knn(treinamento, nova_amostra, k):
  distancias = {}
  tamanho_treino = len(treinamento)
  for i in range (tamanho_treino):
    d= distancia_euclidiana(treinamento[i], nova_amostra)
    distancias[i] = d 
  k_vizinhos = sorted(distancias, key = distancias.get)[:k]

  qtd_output1 = 0
  qtd_output2 = 0
  for indice in k_vizinhos:
    if treinamento[indice][-1] == 1:
      qtd_output1 += 1
    else:
      qtd_output2 += 1
  if qtd_output1 > qtd_output2:
    return 1
  else:
    return 0
def min_max_scaling(df):
    # copy the dataframe
    df_norm = df.copy()
    # apply min-max scaling
    for column in df_norm.columns:
        df_norm[column] = (df_norm[column] - df_norm[column].min()) / (df_norm[column].max() - df_norm[column].min())
        
    return df_norm

<h3>Lendo CSV e transformando em um dataframe</h3>

In [25]:
df = pd.read_csv("dataset_tomate.csv")
df

      id  trat  NDVI_d28  SAVI_d28  ...  GNDVI_d08   MCARI1_d08    SR_d08  Classe
0      1   102  0.798284  1.197380  ...   0.636865  13352.81776  5.421333       1
1      2    11  0.806955  1.210392  ...   0.669113  16190.82038  6.491860       0
2      3   103  0.825104  1.237610  ...   0.655206  15313.16198  6.551268       1
3      4   112  0.788884  1.183279  ...   0.640739  16562.17418  6.608121       1
4      5   114  0.764986  1.147432  ...   0.642373  13760.95583  5.665567       1
..   ...   ...       ...       ...  ...        ...          ...       ...     ...
127  128    82  0.750210  1.125268  ...   0.617495  11584.92863  4.928687       1
128  129    81  0.807576  1.211321  ...   0.663861  13727.74708  6.049484       1
129  130    84  0.781299  1.171903  ...   0.626687  13901.73759  5.240016       1
130  131    92  0.760722  1.141037  ...   0.627243  14067.88995  5.514438       1
131  132    93  0.775178  1.162720  ...   0.648120  15801.33386  6.342296       1

[132 rows x 23 columns]

<h3>Normalização dos dados</h3>

In [26]:
 df = df.drop(['id' ], axis=1)
 df

     trat  NDVI_d28  SAVI_d28  ...   MCARI1_d08    SR_d08  Classe
0     102  0.798284  1.197380  ...  13352.81776  5.421333       1
1      11  0.806955  1.210392  ...  16190.82038  6.491860       0
2     103  0.825104  1.237610  ...  15313.16198  6.551268       1
3     112  0.788884  1.183279  ...  16562.17418  6.608121       1
4     114  0.764986  1.147432  ...  13760.95583  5.665567       1
..    ...       ...       ...  ...          ...       ...     ...
127    82  0.750210  1.125268  ...  11584.92863  4.928687       1
128    81  0.807576  1.211321  ...  13727.74708  6.049484       1
129    84  0.781299  1.171903  ...  13901.73759  5.240016       1
130    92  0.760722  1.141037  ...  14067.88995  5.514438       1
131    93  0.775178  1.162720  ...  15801.33386  6.342296       1

[132 rows x 22 columns]

In [27]:
df = min_max_scaling(df)
df

         trat  NDVI_d28  SAVI_d28  ...  MCARI1_d08    SR_d08  Classe
0    0.281734  0.834531  0.834523  ...    0.159900  0.094783     1.0
1    0.000000  0.883027  0.883043  ...    0.400143  0.290298     0.0
2    0.284830  0.984542  0.984539  ...    0.325847  0.301148     1.0
3    0.312693  0.781951  0.781940  ...    0.431579  0.311532     1.0
4    0.318885  0.648280  0.648266  ...    0.194450  0.139388     1.0
..        ...       ...       ...  ...         ...       ...     ...
127  0.219814  0.565634  0.565617  ...    0.010244  0.004808     1.0
128  0.216718  0.886502  0.886506  ...    0.191638  0.209505     1.0
129  0.226006  0.739524  0.739520  ...    0.206367  0.061668     1.0
130  0.250774  0.624432  0.624419  ...    0.220432  0.111787     1.0
131  0.253870  0.705288  0.705277  ...    0.367172  0.262983     1.0

[132 rows x 22 columns]

<h3>Definindo conjunto de treinamento e teste</h3>

In [28]:
porcentagem = 0.7
treinamento = []
teste = []

_, output1, output2 = info_dataset(df, info=True)

max_output1 = int(porcentagem*output1)
max_output2 = int(porcentagem*output2)

total_output1 = 0
total_output2 = 0

Total de amostras: 132
Total normal: 91
Total alterado: 41

In [29]:
amostras = df.values.tolist()
for amostra in amostras:
  if (total_output1 + total_output2) < (max_output1 + max_output2):
    treinamento.append(amostra)
    if amostra[-1] == 1 and total_output1 < max_output1:
        total_output1 += 1
    else:
      total_output2 += 1
  else: 
    #senao, o conjunto de treinamento ja foi preenchido
    teste.append(amostra)

<h3>Treinando o modelo e realizando o teste</h3>

In [30]:
acertos = 0
k = 11

for amostra in teste:
  classe = knn (treinamento, amostra, k)
  if amostra[-1] == classe: 
    acertos += 1
print(f'Total de treinamento {len(treinamento)}')
print(f'Total de testes {len(teste)}')
print(f'Total de acertos {acertos}')
print(f'Porcentagem de acerto {100*acertos/len(teste)}')

Total de treinamento 91
Total de testes 41
Total de acertos 36
Porcentagem de acerto 87.8048780487805